E2B_API_KEY=YOUR_E2B_API_KEY
NEXT_PUBLIC_SUPABASE_URL=YOUR_NEXT_PUBLIC_SUPABASE_URL
SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
SUPABASE_INPUT_BUCKET_NAME=YOUR_SUPABASE_INPUT_BUCKET_NAME
SUPABASE_OUTPUT_BUCKET_NAME=YOUR_SUPABASE_OUTPUT_BUCKET_NAME